
.filter-by, .sort-by, .filter-annotation{
    list-style: none;
    margin-bottom: 10px;
    display: flex; /* Make the list items flex containers to keep buttons horizontal */
    width: 100%;
    float: left;
    clear: both;
  padding: 0;
  }


  
.filter-by li, .sort-by li, .filter-annotation li {
  margin-right: 10px; /* Add horizontal spacing between buttons */
}


/*.sort-by {
  list-style: none;
    margin-bottom: 10px;
    display: flex;  Make the list items flex containers to keep buttons horizontal 
width: 100%;
  float: left;
  clear: both;
  padding: 0;
margin-top: 0;}


.sort-by li {
  margin-right: 10px;  Add horizontal spacing between buttons 

}
*/

.searchFil {
  margin: 10px;
  margin-left: 0;
}


.btn, .search {
  display: block;
  margin-top: 5px; /* Add margin to separate the elements vertically */
}


  
   .btn {
  color: #ccc;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 1px #666;
  display: flex;
  float: left;
  background-color: black;
  cursor: pointer;
  cursor: hand;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #47474e;
}

.selected {
  background-color: rgba(255, 255, 255, 0.05);
  color: #47474e;
}




.search-heading {
    color: #868D95;
    font-size: 16px;
    margin-bottom: 0; /* Remove the margin-bottom to keep elements on the same line */
    display: inline-block;
}

.search {
    padding: 8px;
    width: 33%; /* Make the input occupy one-third of the space */
    margin-right: 10px; /* Add spacing between the heading and the input */
}





/* Add a CSS class for the selected items to change the text color to red 
.selected {
  color: red;
}*/
.catalog
{
  padding: 5px;
}
.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
  border-radius: 5px;
  margin: 10px;
}

.pagination li {
  display: inline-block;
  padding: 5px;
  margin-right: 5px; /* Add margin-right to create spacing between pagination items */
}


.pagination li a {
  border-radius: 10px; /* Add border-radius for rounded corners */
  border: solid 1px #666;
  display: flex; /* Use flex for centering content */
  float: left; /* Add float for left alignment */
  background-color: black;
  cursor: pointer;
  cursor: hand;
  color: #ccc;
  padding: 5px 10px;
  text-decoration: none;
}

.pagination li a:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #47474e;
}

.pagination li.active {
  background-color: rgba(255, 255, 255, 0.05);
  color: #47474e;
}

.pagination li.active a {
  background-color: rgba(255, 255, 255, 0.05);
  color: #47474e;}
